<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>

    <div>{{currentDate }}</div>
    <div>{{currentDate | date:"shortDate"}}</div>
    <div>{{currentDate | date:"longDate"}}</div>
    <div>{{currentDate | date:"fullDate"}}</div>
    <div>{{currentDate | date:"mediumDate"}}</div>
    <h2>Percent Pipe</h2>
    <div>{{ myNumber }}</div>
    <div>{{ myNumber |percent }}</div>
    <div>{{ myNumber | percent :'2.4-8'}}</div>
    <h2>Decimal Pipe</h2>
    <div>{{ myNumber }}</div>
    <div>{{ myNumber |number }}</div>
    <div>{{ myNumber | number :'2.5-8'}}</div>

    <h2>Currency Pipe</h2>
    <div>{{ myNumber }}</div>
    <div>{{ myNumber |currency }}</div>
    <div>{{ myNumber | currency :'INR'}}</div>
    <div>{{ myNumber | currency :'INR':'code'}}</div>
    <router-outlet></router-outlet>